[Unit]
Description=Backup to USB media
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash "%h/.local/bin/USBbackup@.sh" "%i"
StandardOutput=journal
StandardError=journal
TimeoutStartSec=6h

[Install]
WantedBy=default.target

